// main: ../../app.scss

.p-single-member {
    font-size: 1rem;

    &__ttl {}

    &__wrap {}

    &__kv {}

    &__photo {
        width: 80%;
        max-width: 440px;
        margin: 0 auto;
        position: relative;
    }

    &__name {
        position: absolute;
        bottom: 10px;
        left: 5%;
        width: 90%;
        background: $theme-color;
        color: #fff;
        text-align: center;
        font-family: $theme-font-family;
        font-size: 1.25rem;
        padding: 8px 0 5px;
    }

    &__sns {
        display: table;
        border-collapse: separate;
        border-spacing: 32px 0;
        margin: 12px auto;

        &-item {
            display: table-cell;
            vertical-align: middle;
        }

        &-twitter {
            font-size: 1.25rem;
            background: #000;
            border-radius: 50%;
            padding: 6px 4px 6px 8px;

            a {
                color: #fff;
            }
        }

        &-instagram {
            font-size: 2.25rem;
            margin: 0 30px;

            a {
                color: $default-font-color;
            }
        }
    }

    &__profile {
        margin-top: 20px;

        th {
            font-family: $theme-font-family;
            width: 122px;
        }

        td {
            padding: 8px 0 8px 12px;
            line-height: 1.6;
        }

    }

    &__topics {
        background: $theme-bg-color;

        &-ttl {}

        &-wrap {

        }

        &-link {
            color: $default-font-color;
        }

        &-cont {
            padding: 20px 10px 10px;
            border-bottom: 1px solid $border-color;
        }

        &-tag {
            width: fit-content;
            background: $theme-color;
            color: #fff;
            font-family: $theme-font-family;
            font-size: .8rem;
            padding: 8px 12px 4px;
            border-radius: 20px;
        }

        &-text {
            margin-top: 6px;
            line-height: 1.5;

            a {
                color: $default-font-color;
            }
        }
    }

    &__pagination {

    }

    &__list {
        @include flex();
    }
}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {
    .p-single-member {
        font-size: 1.25rem;

        &__ttl {}

        &__wrap {
            @include flex();
            flex-flow: row-reverse;
        }

        &__kv {
            width: 320px;
        }

        &__photo {
            width: 320px;
        }

        &__name {
        }

        &__sns {

            &-item {

            }

            &-twitter {
                transition: $transition;

                &:hover {
                    background: $theme-color;
                }
            }

            &-instagram {
                a {
                    transition: $transition;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }

        &__profile {
            width: 500px;
            margin: 20px 60px 0 100px;

            th {
                font-size: 1.25rem;
                width: auto;
            }

            td {
                padding: 10px 0 10px 20px;
            }

        }

        &__topics {

            &-ttl {
                width: 390px;
            }

            &-wrap {
                width: 590px;
            }

            &-link {
                display: block;
                transition: $transition;

                &:hover {
                    background: rgba(90, 90, 90, .1);
                }
            }

            &-cont {
                &:nth-child(1) {
                    padding-top: 10px;
                    margin-top: -10px;
                }
            }

            &-tag {
            }

            &-text {
            }
        }

        &__pagination {

        }

        &__list {
            justify-content: center;
        }
    }
}
@include media-breakpoint-up(xl) {}
